body {
    padding: 10px 10px 30px;
    max-width: 680px;
    margin: 0 auto;
    background-color: grey;
}

#banner {
    background-color: black;
    color: gray;
}

#gpps {
    background-color: black;
    color: gray;
}

a {
    color: gray;
}